{% extends "general/base.html" %}

{% block title %}Señal - SOLID{% endblock %}

{% block page_content %}
<div class="row justify-content-center">
    <div class="col-12 col-xl-10">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title text-center text-md-start mb-0">
                    <i class="bi bi-diagram-3 me-2"></i>
                    Aplicación de Principios SOLID
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <p class="lead text-center text-md-start">
                            Esta aplicación es un ejemplo de implementación de los principios SOLID 
                            en el desarrollo de software para procesamiento de señales.
                        </p>
                        
                        <div class="row g-3 mt-4">
                            <div class="col-6 col-lg-3 text-center">
                                <div class="p-3">
                                    <i class="bi bi-gear fs-1 text-primary"></i>
                                    <p class="mt-2 mb-0 small">Modular</p>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 text-center">
                                <div class="p-3">
                                    <i class="bi bi-shield-check fs-1 text-success"></i>
                                    <p class="mt-2 mb-0 small">Confiable</p>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 text-center">
                                <div class="p-3">
                                    <i class="bi bi-arrow-repeat fs-1 text-info"></i>
                                    <p class="mt-2 mb-0 small">Extensible</p>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 text-center">
                                <div class="p-3">
                                    <i class="bi bi-tools fs-1 text-warning"></i>
                                    <p class="mt-2 mb-0 small">Mantenible</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}